<div class="container">
  <div class="row">
    <div class="col-md-5 sign-in-box mx-auto text-center shadow rounded px-0 my-5">
      <h3 class="sign-in py-4"><i class="fas fa-sign-in-alt"></i>ログイン</h3>
      <div class="p-4">
        <%= form_for :session, url: login_path do |f| %>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            <%= f.text_field :email, autofocus: true, autocomplete: "email" , class:"form-control",placeholder: "メールアドレス"%>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-lock"></i></span>
            </div>
            <%= f.password_field :password, autocomplete: "current-password" , class:"form-control" ,placeholder: "パスワード"%>
          </div>
          
          <%= f.submit "ログイン", class: "btn btn-block btn-info mt-5 mb-5" %>
        <% end %>
  
        <%= link_to "新規登録はこちら", signup_path ,class: "btn btn-block btn-secondary" %>
      </div>
    </div>
  </div>
</div>