<table class="table table-striped">
  <thead>
     <tr>
        <th></th>
        <th></th>
        <th>タイトル</th>
        <th>科目</th>
        <th>感想</th>
     </tr>
  </thead>
  <tbody>
    <% blogs.each do |blog| %>
      <tr>
        <td><%= blog.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= link_to blog.user.name, user_path(blog.user) %></td>
        <td><%= link_to blog.title, blog_path(blog) %></td>
        <td><%= blog.subject %></td>
        <td><%= simple_format(blog.body.truncate(10))%></td>
        
    <% end %>
  </tbody>
</table>