<header class="shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="/"><i class="fas fa-pencil-alt"></i><strong>Study Partner</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if logged_in? %>
              <li>
                <%= link_to blogs_path ,class: 'nav-link text-dark' do %>
                <i class="fas fa-pencil-alt"></i>一覧
                <% end %>
              </li>
              
              <li>
                <%= link_to user_path(current_user.id) ,class: 'nav-link text-dark' do %>
                <i class="fas fa-user"></i>マイページ
                <% end %>
              </li>

              <li>
                <%= link_to users_path ,class: 'nav-link text-dark' do %>
                <i class="fas fa-users"></i>ユーザー
                <% end %>
              </li>
  
              <li>
                <%= link_to logout_path, :method => :delete ,class: 'nav-link text-dark' do %>
                  <i class="fas fa-sign-out-alt"></i>ログアウト
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to home_about_path ,class: 'nav-link text-dark' do %>
                  <i class="fas fa-link"></i>Study Partnerとは
                <% end %>
              </li>
  
              <li>
                 <%= link_to signup_path ,class: 'nav-link text-dark' do %>
                   <i class="fas fa-user-plus"></i>新規登録
                 <% end %>
              </li>
              <li>
                <%= link_to login_path ,class: 'nav-link text-dark' do %>
                   <i class="fas fa-sign-in-alt"></i>ログイン
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    
  </header>
              
              
              
      
